/* -----color---- #BBD0FF,#B8C0FF,#E7C6FF,#DD2E18,#4277FF,#3152FF*/
* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;  
}
=======
    font-family:  Arial, sans-serif;
    box-sizing: border-box;
}


>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
body {
    background-image: url("tree.jpg");
    background-size: cover; 
    background-repeat: no-repeat;
    width: 100%;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}
<<<<<<< HEAD
html{
    scroll-behavior: initial;
}
/* mobile */
@media (max-width:480px) {
    body{
        width: 100%;
    }
    .image img {
        width: 100%;
        border-radius: 15%;
        padding-top: 800px;
        padding-right: 40px;
    } 
}


/* @media (min-width:481px) and (max-width: 767px) {
    font-size: 20px;
}

@media (min-width:768px) and (max-width: 991px) {
    
} */
=======
/* mobile */
    @media (max-width:480px) {
        body{
            width: 100%;
        }
        .image img {
            width: 100%;
            border-radius: 15%;
            padding-top: 800px;
            padding-right: 40px;
        } 
    }


    /* @media (min-width:481px) and (max-width: 767px) {
        font-size: 20px;
    }

    @media (min-width:768px) and (max-width: 991px) {
        
    } */

>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
}

.header-text {
    display: flex;
    justify-content: space-between;
    position: sticky;
}

 .image img {
    width: 100%;
    border-radius: 15%;
<<<<<<< HEAD
    padding-top: 100px; /*95px*/
=======
    padding-top: 95px;
>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
    padding-right: 4px;
} 

.container {
    padding:0 10%;
    width: 100vw;
    height: 100vh;
}
<<<<<<< HEAD
=======


>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
nav {
    /* background-color:#242333; */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
  
    
}

.navbar {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 20px;
    /* margin-left: 130vh; */
    background-color: rgba(0, 0, 0, 0.1);   
    /* background-color: #8c8c91; */
<<<<<<< HEAD
    /* opacity: 0.5; */  
=======
    /* opacity: 0.5; */
    
   
>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
}

.nav-list {
    list-style: none;
    display: flex;
    
}

.nav-list li {
    margin: 0 20px;
    position: relative;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}
.nav-list li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #DD2E18;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-list li a:hover::after {
    width: 100%;
}


/* Hamburger menu */
.toggle-button {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
}

@media (max-width: 480px) {
    .nav-list {
        display: none;
        flex-direction: column;
<<<<<<< HEAD
        background-color: rgba(0, 0, 0, 0.1); 
=======
        background-color: rgba(0, 0, 0, 0.1);   

>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
        position: absolute;
        top: 60px;
        left: 0;
        width: 80%;
    }

    .nav-list.active {
        display: flex;
        flex-direction: column;
    }

    .toggle-button {
        display: flex;
    }

    .navbar {
        justify-content: space-between;
        padding: 20px;
        margin-left: 85vh;
        
    }
    .image img {
        width: 50vh;
        
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        flex-basis: 30px;
    }

}


.div-text {
    margin-left: 10%;
    margin-top: 8%;
}

.btnn {
    background-color: #DD2E18;
    color: #BBD0FF;
    margin-top: 20%;
    height: 60px;
    width: 190px;
    border: none;
    border-radius: 20px;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btnn a{
    text-decoration: none;
    color: #BBD0FF;
}

.header-text h1 {
    font-size: 80px; 
    margin-top: 10%;
}



/* ----About------ */
#about {
    padding: 80px 0;
    color: #fff;
}
.btn {
    background: #DD2E18;
    color: #BBD0FF;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 20px;
    font-family: Poppins;
    font-size: 30px;
    font-stretch: n;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    display: inline-block;
    padding-left: 20px;
    

}
.imagee{
    width: 100%;
    border-radius: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex: wrap;
}

.about-col-1 {
    flex: 35%;
    
}
.about-col-1 .img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
    color: black;
    font-weight: 700;
    font-style: normal;


}
.sub-title span{
    color: #DD2E18;
  
}
.sub-title{
    font-size: 60px;
    font-weight: 600; 
    margin: 5%; 
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DD2E18;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #DD2E18;
    font-size: 18px;
}
.tab-contents{
display: none;
}
.tab-contents.active-tab{
    display: block;

}
/* ------projects------ */
#projects{
    padding: 130px;
    height: 100vh;
    color: black;
    /* background-image: url('spider-3533177_1280.jpg'); */
    

}
.sub-title{
    text-align: center;
}
.projects-list{
    display: flex;
    grid-gap: 10%;
    margin-top: 65px;
}
.projects-list div{
    background: #4277FF;
    padding: 10px;
    font-size: 13px;
    font-weight: 300;
    color: #E7C6FF;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;

}
.projects-list div button{
    font-size: 20px;
    border-radius: 20%;
    border: none;
    background-color: #4277FF;
    color: #E7C6FF;
   
}
.projects-list div a{
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 15px;
    margin-top: 10px;
    text-decoration: none;
    display: inline-block;
}
.projects-list div:hover{
    background-color: #DD2E18;
    transform: translateY(-10px);
    
    @media (max-width: 480px) {
        .projects-list {
          display: grid;
          grid-template-columns: 1fr;
          gap: 20px;
        }
    
        .projects-list div {
          text-align: center;
        }
    
        .projects-list i {
          font-size: 24px;
        }
      }
<<<<<<< HEAD
}
.projects-list h2{
    text-align: center;

=======
>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
}
.projects-list h2{
    text-align: center;

}

/* -------Contact-------- */
#contact{
    padding: 50px;

 
}
<<<<<<< HEAD
form input, form textarea{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    border: 20px;
}
/* .contact-right{
    justify-content: center;
    align-items: center;
    padding-right: 200px;
} */
.social-icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
=======
#contactForm {
    /* margin-left: 10px; */
    /* margin-right: 20px; */
    display: flex;
    flex-direction: column;
    width: 800px;
    /* justify-content: center; */
     /* line-height: 10vh; */
    /* font-size: 30px; */
}
.form-row{
    display: flex;
    justify-content: center;

}
form input, form textarea{
    border: 20px;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    /* color: #4277FF; */
    font-size: 18px;
    border-radius: 6px;
    align-items: center;

    
}
/* .contact-right{
    flex-basis: 60%;
    
} */
/* .contact-right p{
    margin-top: 30px;

} */
/* .contactForm p i{
    color: #DD2E18;
    margin-right: 15px;
    font-size: 25px;
    transition: transform 0.5s;
} */

/* .contactForm p i:hover{
    color: #4277FF;
    transform: translateY(-5px);
} */
/* .social-icons {
  z-index: 3;
>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4

} */
.social-icons {
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #DD2E18;
    display: inline-block;
    transition: transform 0.5s;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.social-icons a:hover{
    color: #4277FF;
    background-color: #DD2E18;
    transform: translateY(-5px);
}
<<<<<<< HEAD
=======


>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4
.btn-s{
    background: #DD2E18;
    color: #BBD0FF;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 20px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    display: inline-block;
    /* padding: 0px 60px; */
    cursor: pointer;
    margin-top: 20px;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color:#BBD0FF;
    font-weight: 300;
    
    
}
<<<<<<< HEAD
=======
@media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .contactForm,
    .contact-right {
      width: 100%;
    }

    .social-icons {
      text-align: center;
    }
  }
>>>>>>> f0a1fff39151d5aebe21baf2581807d3647f7cb4







