/* -----color---- #BBD0FF,#B8C0FF,#E7C6FF,#DD2E18,#4277FF,#3152FF*/
* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;  
    color: #f2f5f7;
    font-family: sans-serif;
    letter-spacing: 1px;
    
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
  
   
}


body {
    background-image: url("computer.jpg");
    background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;

 

    font-family: 'Poppins', sans-serif;
}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(61, 53, 53, 0.5); 
    z-index: -1; 
  }
html{
    scroll-behavior: smooth;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
#header {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: sticky;
    z-index: 1;
}
.header-text {
    display: flex;
    justify-content: space-between;
    position: relative; 
    z-index: 2;
}
 .image img {
    width: 100%;
    border-radius: 30%;
    padding: 150px;
    position: relative;
    z-index: 0;
} 

@media (max-width: 768px) {
   
    .image img {
        max-width: 100%;
        flex-basis: 100%;
    }

    .sub-title {
        font-size: 40px;
    }

    .about-col-1,
    .about-col-2 {
        flex-basis: 100%;
    }

    .about-col-1 {
        flex-basis: 30px;
    }
}

.div-text {
    margin-left: 10%;
    margin-top: 8%;
}

.btnn {
    background-color: #DD2E18;
    color: #BBD0FF;
    margin-top: 20%;
    height: 60px;
    width: 190px;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.btnn a{
    text-decoration: none;
    color: #BBD0FF;
}

.header-text h1 {
    font-size: 80px; 
    margin-top: 10%;
} 
/* ----About------ */
#about {
    padding: 80px 0;
    color: #fff;
    height: 100vh;
}
.btn {
    background: #DD2E18;
    color: #BBD0FF;
    margin-top: 20px;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 8px;
    font-family: Poppins;
    font-size: 30px;
    font-stretch: n;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.imagee{
    width: 100%;
    border-radius: 15px;
}
.row {
    display: flex;
    justify-content: space-between;
    flex: wrap;
}

.about-col-1 {
    flex: 35%;
    margin-bottom: 20px;
    margin-left: 5%;
}
.about-col-1 .img{
    width: 100%;
    border-radius: 15px; 
    margin-right: 10%;
}
.about-col-2{
    flex-basis:60%;
    color: black;
    font-weight: 700;
    font-style: bold;
    margin-right: 10%;
}
.sub-title span{
    color: #DD2E18;
  
}
.sub-title{
    font-size: 60px;
    font-weight: 600; 
    margin: 5%; 
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #DD2E18;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.paragraph p {
    color: white;
    font-family: 'Roboto Slab', serif;
    font-size: 1.3rem;
}
.tab-contents ul li span{
    color: #DD2E18;
    font-size: 18px;
}
.tab-contents{
display: none;
}
.tab-contents.active-tab{
    display: block;

}
/* ------projects------ */
#projects{
    padding: 130px;
    color: black;
    margin-bottom: 100px;

}

.sub-title{
    text-align: center; 
    top: 20px; 
    left: 0;
    right: 0;
    
}
 

.project-container {
    display: inline-block;
    margin-right: 20px; 
}

.card-container {
    width: 50vh;
    height: 40vh;
    perspective: 1000px;
    margin-left: 2vh;

  }

.card {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s ease;
    transform-origin: center;
    cursor: pointer;
    margin-left: 3vh;
}

.card:hover {
    transform: rotateY(180deg);
}

.picture-container {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-size: 100% 100%;
    border-radius: 8px;
}

.explanation-container {
    position: absolute;
    width: 100%;
    height: 100%;
    background: grey;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 8px;
}
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #DD2E18; 
    color: black;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    margin-top: 20px;
  }

  /* Hover effect */
  .button:hover {
    color: white;
    background-color: black; 
    transform: scale(1.05);
  }

/* -------Contact-------- */

form input, form textarea{
    width: 100%;
    border-radius: 6px;
    outline: none;
    padding: 15px;
    margin: 15px 0;
    border: 20px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 70%;
}
 label{
align-items: start;
}
.contact-right{
    display: flex;
    justify-content: center;

}
.social-icons{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    color: #DD2E18;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 20px;
    color: #DD2E18;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: white;
    transform: translateY(-5px);
}
.btn-s{
    background: #DD2E18;
    color: white;
    height: 60px;
    width: 150px;
    border: none;
    border-radius: 8px;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
    display: inline-block
    padding 14px 60px;
    cursor: pointer;
    margin-top: 20px;
}
.btn-s:hover{
    transform: translateY(-5px);
    color:#DD2E18;
    background-color: white;

}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    color:#BBD0FF;
    font-weight: 300;
}
/* Responsive styles for screen width <= 480px */
/* Responsive styles for screen width up to 480px */
@media (max-width: 480px) {
    /* ----------------------HOME------------------------- */
    section {
        width: 100%;
        display: flex;
    }
    #header {
        height: 100vh;
    }
    .header-text {
        flex-direction: column-reverse;
    }
    .image img {
        padding: 50px;
    }

    .div-text {
        margin-left: 0;
        margin-top: 8%;
        text-align: center;
    }

    .btnn {
        margin-top: 20px;
        height: 50px;
        width: 150px;
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 60px;
        margin-top: 10px;
    }
    /* --------------------ABOUT--------------------------- */
    #about {
        padding: 40px 0;
    }

    .sub-title {
        color: white;
    }

    .btn {
        width: 30%;
        font-size: 20px;
    }

    .row {
        flex-direction: column;
    }

    .about-col-1 {
        margin-right: 0;
        flex: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .about-col-1 .img {
        margin-right: 0;
    }

    .about-col-2 {
        flex-basis: 100%;
        margin-right: 0;
    }

    .sub-title {
        font-size: 40px;
        margin: 5% 0;
    }

    .tab-links {
        margin-right: 20px;
    }
    /* --------------------------------PROJECTS-------------------------- */
    #projects {
        padding: 90px;
        margin-bottom: 30px;
        margin-top: 50%;
    }

    .sub-title {
        top: 10px;
    }

    .project-container {
        display: block;
        margin-right: 0;
        margin-bottom: 20px;
    }

    .card-container {
        width: 100%;
        height: 30vh;
        margin-left: 0;
    }

    .card {
        margin-left: 0;
    }
    /* --------------------------------CONTACT--------------------------- */
   

    form {
        width: 100%;
    }

    .social-icons {
        margin-top: 20px;
    }
}

/* Responsive styles for screen width between 481px and 767px */
@media (max-width: 767px) {
    /* ----------------------HOME------------------------- */
    section {
        width: 100%;
        display: flex;
    }
    #header {
        height: 100vh;
    }
    #contact {
        padding: 20px;
        padding-top: 400px;
    }
  
    .header-text {
        flex-direction: column-reverse;
    }
    .image img {
        padding: 50px;
    }

    .div-text {
        margin-left: 0;
        margin-top: 8%;
        text-align: center;
    }

    .btnn {
        margin-top: 20px;
        height: 50px;
        width: 150px;
        font-size: 25px;
    }

    .header-text h1 {
        font-size: 60px;
        margin-top: 10px;
    }
    /* ---------------------------------ABOUT----------------------- */
    #about {
        padding: 40px 0;
    }

    .btn {
        width: 30%;
        font-size: 20px;
    }

    .row {
        flex-direction: column;
    }

    .about-col-1 {
        margin-right: 0;
        flex: 100%;
        margin-left: 0;
        margin-bottom: 10px;
    }

    .about-col-1 .img {
        margin-right: 0;
    }

    .about-col-2 {
        flex-basis: 100%;
        margin-right: 0;
    }

    .sub-title {
        font-size: 40px;
        margin: 5% 0;
    }

    .tab-links {
        margin-right: 20px;
    }

    /* ----------------------PROJECTS-------------------------------- */
    #projects {
        padding: 100px;
        margin-bottom: 30px;
        margin-top: 50%;
        height: 100vh;
        display: none;
        background-color: #DD2E18;
    }

    .sub-title {
        top: 10px;
    }

    .project-container {
        display: block;
        margin-right: 10px;
        margin-bottom: 20px;
    }

    .card-container {
        width: 100%;
        height: 30vh;
        margin-left: 0;
    }

    .card {
        margin-left: 0;
    }
}

/* Responsive styles for screen width between 768px and 991px */
@media (min-width: 768px) and (max-width: 991px) {

}

/* Responsive styles for screen width between 992px and 1199px */
@media (min-width: 992px) and (max-width: 1199px) {

  .project-container {
    flex-direction: row;
   justify-content: space-between;
   

  }
}

/* Responsive styles for screen width between 1200px and 1919px */
@media (min-width: 1200px) and (max-width: 1919px) {
  
}

/* Responsive styles for screen width >= 1920px */
@media (min-width: 1920px) {
  
}



/********************************navigationbar******************/


nav{
    height: 6rem;
    width: 100vw;
    background-color: rgba(128, 128, 128, 0.418);
    display: flex;
    position: fixed;
    z-index: 10;
}



/*Styling Links*/
.nav-links{
    display: flex;
    list-style: none; 
    width: 88vw;
    padding: 0 0.7vw;
    justify-content: end;
    align-items: center;
    text-transform: uppercase;
    float: right;
    gap: 2rem;
}
.nav-links li a{
    text-decoration: none;
    margin: 0 0.7vw;
}

.nav-links li {
    position: relative;
}
.nav-links li a::after {
    content: "";
    display: block;
    height: 3px;
    width: 0%;
    background-color: #DD2E18;
    position: absolute;
    transition: all ease-in-out 250ms;
    margin: 0 0 0 10%;
}
.nav-links li a:hover::after{
    width: 80%;
}




/*Styling Hamburger Icon*/
.hamburger div{
    width: 30px;
    height:3px;
    background: #DD2E18;
    margin: 5px;
    transition: all 0.3s ease;
}
.hamburger{
    display: none;
}

/*Styling for small screens*/
@media screen and (max-width: 800px){
    nav{
        position: fixed;
        z-index: 3;
        background: none;
    }
    .hamburger{
        display:block;
        position: absolute;
        cursor: pointer;
        float: left;
        top: 50%;
        transform: translate(-5%, -50%);
        z-index: 2;
        transition: all 0.7s ease;
    }
    .nav-links{
        border-radius: 2rem;
        height:30vh;
        width: 50%;
        flex-direction: column;
        clip-path: circle(50px at 90% -20%);
        -webkit-clip-path: circle(50px at 90% -10%);
        transition: all 1s ease-out;
        pointer-events: none;
       
    }
    .nav-links.open{
        clip-path: circle(1000px at 90% -10%);
        -webkit-clip-path: circle(1000px at 90% -10%);
        pointer-events: all;
    }
    .nav-links li{
        opacity: 0;
    bottom: 1rem;
    background-color: grey;
    }
    .nav-links li:nth-child(1){
        transition: all 0.5s ease 0.2s;
    }
    .nav-links li:nth-child(2){
        transition: all 0.5s ease 0.4s;
    }
    .nav-links li:nth-child(3){
        transition: all 0.5s ease 0.6s;
    }
    .nav-links li:nth-child(4){
        transition: all 0.5s ease 0.7s;
    }
    .nav-links li:nth-child(5){
        transition: all 0.5s ease 0.8s;
    }
    .nav-links li:nth-child(6){
        transition: all 0.5s ease 0.9s;
        margin: 0;
    }
    .nav-links li:nth-child(7){
        transition: all 0.5s ease 1s;
        margin: 0;
    }
    li.fade{
        opacity: 1;
    }
}
/*Animating Hamburger Icon on Click*/
.toggle .line1{
    transform: rotate(-45deg) translate(-5px,6px);
}
.toggle .line2{
    transition: all 0.7s ease;
    width:0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px,-6px);
}
